<div class="center">
<div class="card">


<h1>Edit <%=@sighting.bird.common_name%> Sighting</h1>

<% if logged_in?(session) && @sighting.user_id == current_user(session).id%>

        <form method="post" action="/sightings/<%= @sighting.id %>">
          <input id="hidden" type="hidden" name="_method" value="patch">

          <h3>Choose a location, or create a new location below.</h3>

        <% @locations.uniq.sort.each do |location| %>
          <input type="radio" name="sighting[location]" value="<%= location %>"><%= location %></input>
        <% end %>
        <br>
        <input type="radio" name="sighting[location]">Other (add location below)</input>

          <p><label for="location">Location: </label>
          <input type="textarea" name="place" value="<%= @sighting.location %>"></p>

          <p><label for="date">Date: </label>
            <input type="date" name="date" value="<%= @sighting.date %>" required></p>
                   <p><label for="notes">Notes: </label>
            <input type="textarea" name="notes" value="<%= @sighting.notes %>" required></p>
          <input id="submit" type="submit" value="Edit Sighting">
        </form>

        <form action="/sightings/<%=@sighting.id%>/delete" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input id="Delete" type="submit" value="Delete Sighting">
        </form>
      </div>

      <div>
      </div>

    </div>

<% else %>
    <h3> You Must Be Logged in to Edit Sightings </h3>
    <h3> You May Only Edit Your Own Sightings </h3>
    <br>

    <form action="/sightings" >
       <button type="submit">Return to Sightings</button>
    </form>

    <form action="/login" >
       <button type="submit">Log In</button>
    </form>

<% end %>
