<% if Helpers.logged_in?(session) %>
<h1>Edit Sighting</h1>

<form method="post" action="/sightings/<%= @sighting.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p><label for="audubon_url">Audubon URL: </label>
    <input type="string" name="audubon_url" value="<%= @sighting.audubon_url %>" required></p>
  <p><label for="date">Date: </label>
    <input type="date" name="date" value="<%= @sighting.date %>" required></p>
  <p><label for="location">Location: </label>
    <input type="string" name="location" value="<%= @sighting.location %>" required></p>
  <p><label for="notes">Notes: </label>
    <input type="text" name="notes" value="<%= @sighting.notes %>" required></p>
  <input id="submit" type="submit" value="Edit Sighting">
</form>

<% else %>
  <h1> You Must Be Logged in to Edit Sighting </h1>
  <a href="/login">Click here to log in</a>
<% end %>
