<!-- <h1>sightings index.erb</h1> -->
<p><em>check page after data re-seeded. include date, image, click on image to see sighting detail</em></p>

<% if Helpers.logged_in?(session) %>

<%@users.each do |user|%>
<h3><%=user.username.capitalize%>'s Sightings</h3>
  <%user.sightings.each do |sighting|%>
    <h2><%=sighting.bird.common_name%></h2>
    <p><em><%=bird.scientific_name%></em></p>
    <p><%=sighting.date%><p>
    <img src="<%=sighting.bird.image%>" alt="<%=sighting.bird.common_name%>">
    <br>
  <%end%>
<%end%>

    <a href="/logout">Log Out</a>

    <% else %>
        <h1> You Must Be Logged in to View Tweets </h1>
        <a href="/login">Click here to log in</a>
    <% end %>
