<h1>sightings index.erb</h1>
<p>build out to show index of all of the sightings by all users</p>

<% if Helpers.logged_in?(session) %>

<%@users.each do |user|%>
<h3><%=user.username.capitalize%>'s Sightings</h3>
  <%user.sightings.each do |sighting|%>
    <p>Number: <%=sighting.id%></p>
    <p>Audubon URL: <%=sighting.audubon_url%></p>
    <p>Date: <%=sighting.date%></p>
    <p>Location: <%=sighting.location%></p>
    <p>Notes: <%=sighting.notes%></p>
  <%end%>
<%end%>

    <a href="/logout">Log Out</a>

    <% else %>
        <h1> You Must Be Logged in to View Tweets </h1>
        <a href="/login">Click here to log in</a>
    <% end %>
