<% if Helpers.logged_in?(session) %>

<%@users.each do |user|%>
<h1><%=user.username.capitalize%>'s Bird Sightings</h1>
  <%user.sightings.each do |sighting|%>
    <h2><%=sighting.bird.common_name%></h2>
    <p><em><%=sighting.bird.scientific_name%></em></p>

    <%if sighting.user_id == Helpers.current_user(session).id%>
    <a href="/birds/<%=sighting.bird.id%>"><img src="<%=sighting.bird.image%>" alt="<%=sighting.bird.common_name%>"></a>

    <form action="/birds/<%=sighting.bird.id%>" >
       <button type="submit">View Details</button>
    </form>
    <% else %>
    <img src="<%=sighting.bird.image%>" alt="<%=sighting.bird.common_name%>">

      <% end %>
  <%end%>
<%end%>

<% else %>
    <h1> You Must Be Logged in to Edit Sightings </h1>
    <h1> You May Only Edit Your Own Sightings </h1>

    <a href="/login">Click here to Log In</a>
<% end %>
