<h1>Sighting Details</h1>
<% if Helpers.logged_in?(session) && @sighting.user_id == Helpers.current_user(session).id%>

<p><strong>Sighting Number: </strong><%=@sighting.id%></p>
<p><strong>Date: </strong><%=@sighting.date%></p>
<p><strong>Location: </strong><%=@sighting.location%></p>
<p><strong>Notes: </strong><%=@sighting.notes%></p>

<form action="/sightings/<%=@sighting.id%>/edit" >
   <button type="submit">Edit Sighting</button>
</form>

<form action="/sightings/<%=@sighting.id%>/delete" method="post">
 <input id="hidden" type="hidden" name="_method" value="delete">
 <input id="Delete" type="submit" value="Delete Sighting">
</form>


<h1><%=@sighting.bird.common_name%></h1>
  <p><em><%=@sighting.bird.scientific_name%></em></p>
  <img src="<%=@sighting.bird.image%>" alt="<%=@sighting.bird.common_name%>">

  <!-- <p><strong>Family: </strong><%=@sighting.bird.family%></p>
  <p><strong>Description: </strong><%=@sighting.bird.description%></p>
  <p><strong>Conservation Status: </strong><%=@sighting.bird.conservation_status%></p>
  <p><strong>Habitat: </strong><%=@sighting.bird.habitat%></p>
  <p><strong>Feeding Behavior: </strong><%=@sighting.bird.feeding_behavior%></p>
  <p><strong>Eggs: </strong><%=@sighting.bird.eggs%></p>
  <p><strong>Young: </strong><%=@sighting.bird.young%></p>
  <p><strong>Diet: </strong><%=@sighting.bird.diet%></p> -->

  <form action="/birds/<%=@sighting.bird.id%>">
     <button type="submit">View Bird Details</button>
  </form>

  <% else %>

      <h3> You Must Be Logged in to View Sightings </h3>
      <h3> You May Only Edit or Delete Your Own Sightings </h3>
      <br>
      <form action="/login" >
         <button type="submit">Log In</button>
      </form>
      <form action="/sightings" >
         <button type="submit">Return to Sightings</button>
      </form>

  <% end %>
