<div class="home">

  <div class="section">

    <div class="card title">
      <h1>My Birds - <%=@user.birds.uniq.count%></h1>
    </div>

    <%@user.birds.uniq.each do |bird|%>

    <div class="card">
        <h2><%=bird.common_name%></h2>
        <p><em><%=bird.scientific_name%></em></p>

        <a href="/birds/<%=bird.id%>"><img src="<%=bird.image%>" alt="<%=bird.common_name%>"></a>

        <form action="/birds/<%=bird.id%>" >
           <button type="submit" id="submit">View Bird</button>
        </form>
    </div>

    <%end%>
  </div>


  <div class="section">

    <div class="card title">
        <h1>My Sightings - <%=@user.sightings.count%></h1>
    </div>

    <% @user.sightings.reverse.each do |sighting| %>

        <div class="card">
          <h2><%=sighting.date%></h2>
          <p><%=sighting.bird.common_name%></p>
            <form action="/sightings/<%=sighting.id%>">
             <button type="submit" id="submit">View Sighting</button>
          </form>
        </div>
    <%end%>
  </div>
</div>
