
<h1>My Recent Sightings</h1>


<%@user.sightings.reverse.each do |sighting|%>
      <h2><%=sighting.bird.common_name%></h2>
      <p><em><%=sighting.bird.scientific_name%></em></p>
      <p><%=sighting.date%><p>

      <a href="/birds/<%=sighting.bird.id%>"><img src="<%=sighting.bird.image%>" alt="<%=sighting.bird.common_name%>"></a>

      <form action="/birds/<%=sighting.bird.id%>" >
         <button type="submit">View Details</button>
      </form>
    <br>

<%end%>
