<p><em>need to fix this page or delete it</em></p>

<h1>My Sightings</h1>

<%@user.sightings.reverse.each do |sighting|%>
      <h2><%=sighting.bird.common_name%></h2>
      <p><em><%=bird.scientific_name%></em></p>
      <p><%=sighting.date%><p>
      <img src="<%=sighting.bird.image%>" alt="<%=sighting.bird.common_name%>">
    <br>
<%end%>
