<h1>All Birds</h1>

<div class="section">

  <%@birds.each do |bird|%>
  <div class="card">
    <h2><%=bird.common_name%></h2>
    <p><em><%=bird.scientific_name%></em></p>

    <a href="/birds/<%=bird.id%>"><img src="<%=bird.image%>" alt="<%=bird.common_name%>"></a>

    <form action="/birds/<%=bird.id%>" >
       <button type="submit">View Bird Details</button>
    </form>

  </div>
    <% end %>
  </div>

</div>
