<div class="birdshow">

  <div class="details">

    <div class="card">

      <h1><%=@bird.common_name%></h1>
      <h3><em><%=@bird.scientific_name%></em></h3>
      <p><strong>Family: </strong><%=@bird.family%></p>
      <img src="<%=@bird.image%>" alt="<%=@bird.common_name%>">

      <form action="<%=@bird.sightings[0].audubon_url%>" target="_blank" >
        <button type="submit">View bird in the Audubon Field Guide to Learn More</button>
      </form>
    </div>

    <div class="card">
      <h2>Description</h2>
      <h3><%=@bird.description%></h3>
    </div>

    <div class="card">
      <h2>Habitat</h2>
      <h3><%=@bird.habitat%></h3>
    </div>

    <div class="card">
      <h2>Feeding Behavior</h2>
      <h3><%=@bird.feeding_behavior%></h3>
    </div>

    <div class="card">
      <h2>Diet</h2>
      <h3><%=@bird.diet%></h3>
    </div>

    <div class="card">
      <h2>Eggs</h2>
      <h3><%=@bird.eggs%></h3>
    </div>

    <div class="card">
      <h2>Young</h2>
      <h3><%=@bird.young%></h3>
    </div>

    <div class="card">
      <h2>Conservation Status</h2>
      <h3><%=@bird.conservation_status%></h3>
    </div>

  </div>

</div>


<div class="section">

  <h2><%=@bird.common_name%> Sightings</h2>

  <%  Sighting.where("bird_id = ?", @bird.id).each do |sighting| %>

    <div class="card">
      <h3><strong>Seen by: </strong><%=sighting.user.username.capitalize%></strong></h3>
      <p><strong>Date: </strong><%=sighting.date%></p>
      <p><strong>Location: </strong><%=sighting.location%></p>
      <p><strong>Notes: </strong><%=sighting.notes%></p>

      <%if sighting.user_id == Helpers.current_user(session).id%>
        <form action="/sightings/<%=sighting.id%>" >
          <button type="submit">View Sighting Details</button>
        </form>
        <br>
      <%end%>
    </div>
  <% end %>
</div>
