<!-- # <% if Helpers.logged_in?(session) %> -->

<h1><%=@bird.common_name%></h1>
  <h3><em><%=@bird.scientific_name%></em></h3>
  <img src="<%=@bird.image%>" alt="<%=@bird.common_name%>">

  <p><strong>Family: </strong><%=@bird.family%></p>
  <p><strong>Description: </strong><%=@bird.description%></p>
  <p><strong>Conservation Status: </strong><%=@bird.conservation_status%></p>
  <p><strong>Habitat: </strong><%=@bird.habitat%></p>
  <p><strong>Feeding Behavior: </strong><%=@bird.feeding_behavior%></p>
  <p><strong>Eggs: </strong><%=@bird.eggs%></p>
  <p><strong>Young: </strong><%=@bird.young%></p>
  <p><strong>Diet: </strong><%=@bird.diet%></p>


  <form action="<%=@bird.sightings[0].audubon_url%>" target="_blank" >
     <button type="submit">View bird in the Audubon Field Guide to Learn More</button>
  </form>

<h2>Sightings of <%=@bird.common_name%></h2>
<%  Sighting.where("bird_id = ?", @bird.id).each do |sighting| %>
    <h3><strong>Seen by: </strong><%=sighting.user.username.capitalize%></strong></h3>
    <p><strong>Date: </strong><%=sighting.date%></p>
    <p><strong>Location: </strong><%=sighting.location%></p>
    <p><strong>Notes: </strong><%=sighting.notes%></p>
    <br>
  <% end %>
<!--
  <% else %>
      <h1> You Must Be Logged in to View Birds </h1>
      <a href="/login">Click here to log in</a>
  <% end %> -->
